.draft-feedback {
  margin-top: 24px;
  padding: 12px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.draft-feedback-container {
  margin-top: 18px;
}

.draft-body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  margin-bottom: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.draft-blur {
  filter: blur(3px);
}

.source-links {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  align-items: center;
}
